@import "variable";
@import "mixin";

/***********************************************************
                           HEADER
***********************************************************/

header {
    height: 20vh;
    width: 100%;
    background-color: $sky;
    nav {
        z-index: 100;
        box-sizing: border-box;
        width: 100%;
        position: fixed;
        top: 0;
        padding: 8px 0;
        background-color: $sky;
        opacity: 0.85;
        vertical-align: center;
        color: white;
        font-size: 1.0rem;
        ol {
            text-align: center;
            li {
                display: inline-block;
                a {
                    display: inline-block;
                    padding: 6px 30px;
                    color: white;
                    &:hover {
                        color: $forest;
                        background-color: darken($forest, 60%);
                        border-radius: 15px;
                    }
                }
            }
        }
        .navmenu {
            display: none;
        }
    }
    //960px以下の場合の指定（タブレット）
    @media (max-width: 960px) {
        nav {
            padding: 0;
            height: auto;
            .navmenu {
                display: block;
                font-size: 2.5rem;
                float: right;
                padding: 2px 5px 0 0;
                cursor: pointer;
            }
            .navmenu_list {
                display: none;
            }
            //隠しメニュー
            &.nav-open {
                opacity: 0.9;
                background-color: darken($space-background, 7%);
                .navmenu_list {
                    display: block;
                    text-align: left;
                    padding: 15px 0;
                    li {
                        display: block;
                        line-height: 2.5rem;
                        text-align: center;
                        margin: 0 10vw;
                        border-bottom: 2px solid;
                        border-color: rgba(#fff, 0.3);
                        &:last-child {
                            border-bottom: none;
                        }
                        &:hover {
                            color: $space-green;
                            border-radius: 0px;
                            background-color: darken($space-background, 15%);
                        }
                        a {
                            display: block;
                            &:hover {
                                background-color: darken($space-background, 15%);
                            }
                        }
                    }
                }
            }
        }
        h1 {
            font-size: 2.5rem;
        }
    }
    //600px以下の場合の指定（モバイル）
    @media (max-width: 480px) {
        h1 {
            font-size: 2.0rem;
        }
    }
}