@import "variable";
@import "mixin";

/***********************************************************
※mixin/extend/class name命名ルール

-(シングルハイフン) 文字の接続
__（アンダーバー）　パーツ 
--（ダブルハイフン）　パターン

*EXAMPLE
section-border--earth：section borderのearthパターン
***********************************************************/


/***********************************************************
                            BODY / main
***********************************************************/

@import url("https://fonts.googleapis.com/css?family=Palanquin+Dark:400,600,700");
:root {
    font-size: 14px;
}

body {
    font-family: 'Palanquin Dark', 'M+ Type-1 (general-j) Regular', sans-serif;
    .bold-text {
        //和英どちらもboldになる
        font-family: 'Palanquin Dark', 'M+ Type-1 (general-j) Bold', sans-serif;
        font-weight: 700;
    }
    .semibold-text {
        //和文のみ細字になるが、英文はfont-weightを指定しても細くならない
        font-family: 'Palanquin Dark', 'M+ Type-1 (general-j) Medium', sans-serif;
        font-weight: 600;
    }
}

a {
    text-decoration: none;
}

ul li,
ol li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: normal;
}

mark {
    background-color: inherit;
    color: inherit;
    font-style: normal;
    font-weight: normal;
}

u {
    text-decoration: none;
}


/***********************************************************
                           HEADER
***********************************************************/

.globalnavi {
    height: 10vh;
    width: 100%;
    background-color: $sky;
    nav {
        z-index: 100;
        box-sizing: border-box;
        width: 100%;
        position: fixed;
        top: 0;
        padding: 8px 0;
        background-color: $sky;
        opacity: 0.85;
        vertical-align: center;
        color: white;
        font-size: 1.0rem;
        ol {
            text-align: center;
            li {
                display: inline-block;
                a {
                    display: inline-block;
                    padding: 6px 30px;
                    color: white;
                    opacity: 1;
                    &:hover {
                        color: white;
                        background-color: darken($forest, 60%);
                        border-radius: 15px;
                    }
                }
            }
        }
        .navmenu {
            display: none;
        }
    }
    //960px以下の場合の指定（タブレット）
    @media (max-width: 960px) {
        nav {
            padding: 0;
            height: auto;
            .navmenu {
                display: block;
                font-size: 2.5rem;
                float: right;
                padding: 2px 5px 0 0;
                cursor: pointer;
            }
            .navmenu_list {
                display: none;
            }
            //隠しメニュー
            &.nav-open {
                opacity: 0.9;
                background-color: darken($forest, 60%);
                .navmenu_list {
                    display: block;
                    text-align: left;
                    padding: 15px 0;
                    li {
                        display: block;
                        line-height: 2.5rem;
                        text-align: center;
                        margin: 0 10vw;
                        border-bottom: 2px solid;
                        border-color: rgba(#fff, 0.3);
                        &:last-child {
                            border-bottom: none;
                        }
                        &:hover {
                            color: white;
                            border-radius: 0px;
                            background-color: darken($forest, 50%);
                        }
                        a {
                            display: block;
                            &:hover {
                                background-color: darken($forest, 50%);
                                ;
                            }
                        }
                    }
                }
            }
        }
    }
}