@import "variable";
@import "mixin";

/***********************************************************
                           BODY
***********************************************************/

.toppage {
    background-color: $forest;
}


/***********************************************************
                           HEADER
***********************************************************/

.header--top {
    height: 10vh;
    width: 100%;
    background-color: $sky;
    nav {
        z-index: 100;
        box-sizing: border-box;
        width: 100%;
        position: fixed;
        top: 0;
        padding: 8px 0;
        background-color: $sky;
        opacity: 0.85;
        vertical-align: center;
        color: white;
        font-size: 1.0rem;
        ol {
            text-align: center;
            li {
                display: inline-block;
                a {
                    display: inline-block;
                    padding: 6px 30px;
                    color: white;
                    &:hover {
                        color: white;
                        background-color: darken($forest, 60%);
                        border-radius: 15px;
                    }
                }
            }
        }
        .navmenu {
            display: none;
        }
    }
    //960px以下の場合の指定（タブレット）
    @media (max-width: 960px) {
        nav {
            padding: 0;
            height: auto;
            .navmenu {
                display: block;
                font-size: 2.5rem;
                float: right;
                padding: 2px 5px 0 0;
                cursor: pointer;
            }
            .navmenu_list {
                display: none;
            }
            //隠しメニュー
            &.nav-open {
                opacity: 0.9;
                background-color: darken($forest, 60%);
                .navmenu_list {
                    display: block;
                    text-align: left;
                    padding: 15px 0;
                    li {
                        display: block;
                        line-height: 2.5rem;
                        text-align: center;
                        margin: 0 10vw;
                        border-bottom: 2px solid;
                        border-color: rgba(#fff, 0.3);
                        &:last-child {
                            border-bottom: none;
                        }
                        &:hover {
                            color: $space-green;
                            border-radius: 0px;
                            background-color: darken($forest, 50%);
                        }
                        a {
                            display: block;
                            &:hover {
                                background-color: darken($forest, 50%);
                                ;
                            }
                        }
                    }
                }
            }
        }
        h1 {
            font-size: 2.5rem;
        }
    }
    //600px以下の場合の指定（モバイル）
    @media (max-width: 480px) {
        h1 {
            font-size: 2.0rem;
        }
    }
}


/***********************************************************
                           MAIN
***********************************************************/

.main--top {
    z-index: 2;
    position: relative;
    height: 60vh;
    background-color: $sky;
    .sitetitle {
        z-index: 3;
        position: relative;
        width: 100%;
        height: 100%;
        background-position: center;
        background-image: url('/images/svg/pikuchinomori_logo2.svg');
        background-repeat: no-repeat;
    }
}

.pikusky {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    background-image: url("/images/svg/skycloud.svg");
    background-size: cover;
    //animationの定義
    animation-name: pikucloud;
    animation-duration: 300s; //アニメーション開始から終了までの所要時間
    animation-timing-function: linear; //アニメーションのイージング
    animation-iteration-count: infinite; //アニメーションのループ回数
    animation-direction: normal; //アニメーションの再生方向
}

@keyframes pikucloud {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 2000px 0;
    }
}


/***********************************************************
                           FOOTER
***********************************************************/

.footer--top {
    width: 100%;
    height: 30vh;
    background-color: $forest;
    /* 上⇒下への白から黄色のグラデーション指定 */
    background-image: linear-gradient(3deg, $forest 50%, $sky 50%, $sky);
    .pikuforest {
        z-index: 4;
        position: relative;
        width: 100%;
        height: 30vh;
        max-width: 1280px;
        margin: auto;
    }
    .piyo {
        z-index: 5;
        position: absolute;
        bottom: 12vh;
        right: 100px;
        width: 11vw;
        min-width: 120px;
        max-width: 140px;
        height: auto;
        content: url('/images/svg/pikupiyo.svg');
        //animationの定義
        animation-name: piyojump;
        animation-duration: 2500ms; //アニメーション開始から終了までの所要時間
        animation-timing-function: linear; //アニメーションのイージング
        animation-delay: 1s; //アニメーションが開始するまでの遅延時間
        animation-iteration-count: infinite; //アニメーションのループ回数
        animation-direction: normal; //アニメーションの再生方向
        // animation-play-state: running;
    }
    @keyframes piyojump {
        0% {
            transform: translateY(0px);
        }
        5% {
            transform: translateY(-15px);
        }
        20% {
            transform: translateY(0px);
        }
        25% {
            transform: translateY(0px);
        }
        30% {
            transform: translateY(-25px);
        }
        45% {
            transform: translateY(0px);
        }
        100% {
            transform: translateY(0px);
        }
    }
    .trees {
        z-index: 1;
        position: absolute;
        bottom: 12vh;
        left: 50px;
        width: 35vw;
        min-width: 300px;
        max-width: 450px;
        height: auto;
        content: url('/images/svg/morinoki3.svg');
    }
    // .snsicons {
    //     background-color: $forest;
    //     color: white;
    //     font-size: 3rem;
    //     padding-top: 20px;
    //     text-align: center;
    //     li {
    //         display: inline-block;
    //         padding: 0 5px;
    //         a {
    //             color: white;
    //             &:hover {
    //                 color: -green;
    //             }
    //         }
    //     }
    // }
    .copyright {
        background-color: $forest;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 10px;
        text-align: center;
        vertical-align: bottom;
        color: white;
        letter-spacing: 0.15rem;
        font-size: 1rem;
    }
    //タブレット版
    @media (max-width:960px) {
        .snsicons {
            font-size: 2.6rem;
        }
    }
    @media (max-width: 480px) {
        .snsicons {
            font-size: 2.4rem;
        }
        .copyright {
            font-size: 0.6rem;
            padding: 25px 0;
        }
    }
}