@import "variable";
@import "mixin";

/***********************************************************
                           HEADER
***********************************************************/

.header--top {
    height: 30vh;
    width: 100%;
    background-color: $sky;
    background-image: linear-gradient(3deg, #fff 30%, $sky 30%, $sky);
    nav {
        z-index: 100;
        box-sizing: border-box;
        width: 100%;
        position: fixed;
        top: 0;
        padding: 8px 0;
        background-color: $sky;
        opacity: 0.85;
        vertical-align: center;
        color: white;
        font-size: 1.0rem;
        ol {
            text-align: center;
            li {
                display: inline-block;
                a {
                    display: inline-block;
                    padding: 6px 30px;
                    color: white;
                    &:hover {
                        color: white;
                        background-color: darken($forest, 60%);
                        border-radius: 15px;
                    }
                }
            }
        }
        .navmenu {
            display: none;
        }
    }
    //960px以下の場合の指定（タブレット）
    @media (max-width: 960px) {
        nav {
            padding: 0;
            height: auto;
            .navmenu {
                display: block;
                font-size: 2.5rem;
                float: right;
                padding: 2px 5px 0 0;
                cursor: pointer;
            }
            .navmenu_list {
                display: none;
            }
            //隠しメニュー
            &.nav-open {
                opacity: 0.9;
                background-color: darken($forest, 60%);
                .navmenu_list {
                    display: block;
                    text-align: left;
                    padding: 15px 0;
                    li {
                        display: block;
                        line-height: 2.5rem;
                        text-align: center;
                        margin: 0 10vw;
                        border-bottom: 2px solid;
                        border-color: rgba(#fff, 0.3);
                        &:last-child {
                            border-bottom: none;
                        }
                        &:hover {
                            color: $space-green;
                            border-radius: 0px;
                            background-color: darken($forest, 50%);
                        }
                        a {
                            display: block;
                            &:hover {
                                background-color: darken($forest, 50%);
                                ;
                            }
                        }
                    }
                }
            }
        }
        h1 {
            font-size: 2.5rem;
        }
    }
    //600px以下の場合の指定（モバイル）
    @media (max-width: 480px) {
        h1 {
            font-size: 2.0rem;
        }
    }
}


/***********************************************************
                           MAIN
***********************************************************/

.main--top {
    $titlemargin: 0vh;
    height: 30vh - $titlemargin;
    .sitetitle {
        width: 100%;
        height: 100%;
        margin-top: $titlemargin;
        background-position: center;
        background-image: url('/images/svg/pikuchinomori_logo.svg');
        background-repeat: no-repeat;
    }
}


/***********************************************************
                           FOOTER
***********************************************************/

.footer--top {
    width: 100%;
    height: 40vh;
    background-color: $forest;
    /* 上⇒下への白から黄色のグラデーション指定 */
    background-image: linear-gradient(5deg, $forest 50%, #fff 50%, #fff);
    .pikuforest {
        position: relative;
        width: 100%;
        height: 40vh;
        max-width: 1280px;
        margin: auto;
    }
    .piyo {
        position: absolute;
        bottom: 15vh;
        right: 100px;
        width: 11vw;
        min-width: 120px;
        max-width: 140px;
        height: auto;
        content: url('/images/svg/pikupiyo.svg');
    }
    .trees {
        position: absolute;
        bottom: 18vh;
        left: 50px;
        width: 35vw;
        min-width: 300px;
        max-width: 450px;
        height: auto;
        content: url('/images/svg/morinoki3.svg');
    }
    .snsicons {
        color: white;
        font-size: 3rem;
        padding-top: 20px;
        text-align: center;
        li {
            display: inline-block;
            padding: 0 5px;
            a {
                color: white;
                &:hover {
                    color: -green;
                }
            }
        }
    }
    .copyright {
        width: 100%;
        box-sizing: border-box;
        padding: 30px 0;
        text-align: center;
        vertical-align: bottom;
        color: rgba(#fff, 0.7);
        letter-spacing: 0.15rem;
        font-size: 0.8rem;
    }
    //タブレット版
    @media (max-width:960px) {
        .snsicons {
            font-size: 2.6rem;
        }
    }
    @media (max-width: 480px) {
        .snsicons {
            font-size: 2.4rem;
        }
        .copyright {
            font-size: 0.6rem;
            padding: 25px 0;
        }
    }
}