@import "variable";
// @import "mixin";

/***********************************************************
                           BODY
***********************************************************/

.toppage {
    background-color: $sky;
}


/***********************************************************
                           HEADER
***********************************************************/


/***********************************************************
                           MAIN
***********************************************************/

.main--top {
    z-index: 2;
    position: relative;
    height: 60vh;
    background-color: $sky;
    .sitetitle {
        z-index: 3;
        position: relative;
        margin: auto;
        width: 30vw;
        height: 100%;
        max-width: 400px;
        min-width: 350px;
        background-position: center;
        background-image: url('/images/svg/pikuchinomori_logo.svg');
        background-repeat: no-repeat;
        background-size: contain;
    }
    @media (max-width: 700px) {
        .sitetitle {
            width: 50vw;
            min-width: 300px;
        }
    }
}

.pikusky {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    background-image: url("/images/svg/skycloud.svg");
    background-size: cover;
    //animationの定義
    animation-name: pikucloud;
    animation-duration: 300s; //アニメーション開始から終了までの所要時間
    animation-timing-function: linear; //アニメーションのイージング
    animation-iteration-count: infinite; //アニメーションのループ回数
    animation-direction: normal; //アニメーションの再生方向
}

@keyframes pikucloud {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 2000px 0;
    }
}


/***********************************************************
                           FOOTER
***********************************************************/

.footer--top {
    width: 100%;
    height: 30vh;
    background-color: $forest;
    /* 上⇒下への白から黄色のグラデーション指定 */
    background-image: linear-gradient(3deg, $forest 50%, $sky 50%, $sky);
    .pikuforest {
        z-index: 4;
        position: relative;
        width: 100%;
        height: 30vh;
        max-width: 1280px;
        margin: auto;
    }
    .piyo {
        z-index: 5;
        position: absolute;
        bottom: 12vh;
        right: 100px;
        width: 11vw;
        min-width: 120px;
        max-width: 140px;
        height: auto;
        content: url('/images/svg/pikupiyo.svg');
        //animationの定義
        animation-name: piyojump;
        animation-duration: 2500ms; //アニメーション開始から終了までの所要時間
        animation-timing-function: linear; //アニメーションのイージング
        animation-delay: 1s; //アニメーションが開始するまでの遅延時間
        animation-iteration-count: infinite; //アニメーションのループ回数
        animation-direction: normal; //アニメーションの再生方向
        // animation-play-state: running;
    }
    @keyframes piyojump {
        0% {
            transform: translateY(0px);
        }
        5% {
            transform: translateY(-15px);
        }
        20% {
            transform: translateY(0px);
        }
        25% {
            transform: translateY(0px);
        }
        30% {
            transform: translateY(-25px);
        }
        45% {
            transform: translateY(0px);
        }
        100% {
            transform: translateY(0px);
        }
    }
    .trees {
        z-index: 1;
        position: absolute;
        bottom: 12vh;
        left: 50px;
        width: 35vw;
        min-width: 350px;
        max-width: 450px;
        height: auto;
        content: url('/images/svg/morinoki.svg');
    }
    .copyright {
        background-color: $forest;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 10px;
        text-align: center;
        vertical-align: bottom;
        color: white;
        letter-spacing: 0.15rem;
        font-size: 1rem;
    }
    //タブレット版
    @media (max-width:700px) {
        .trees {
            bottom: 12vh;
            left: 5vh;
            width: 50vw;
            min-width: 250px;
            content: url('/images/svg/morinoki.svg');
        }
        .piyo {
            bottom: 12vh;
            right: 10vw;
            width: 18vw;
            min-width: 80px;
            height: auto;
        }
    }
    @media (max-width: 480px) {
        .copyright {
            font-size: 0.8rem;
            padding: 25px 0;
        }
    }
}