@import "variable";
@import "mixin";

/***********************************************************
                           BODY
***********************************************************/

.construction {
    background-color: $sky;
}


/***********************************************************
                           HEADER
***********************************************************/


/***********************************************************
                           MAIN  
***********************************************************/

.piyobox {
    height: 90vh;
    box-sizing: border-box;
    padding-bottom: 100px;
    &__title {
        text-align: center;
        color: lighten($sky, 20%);
        padding: 50px 0 60px 0;
        font-size: 2rem;
        letter-spacing: 0.2rem;
    }
    &__background {
        height: 380px;
        width: 100%;
        background-image: url("/images/svg/pikuwave.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    &__circle {
        box-sizing: border-box;
        padding-top: 40px;
        margin: auto;
        width: 380px;
        height: 380px;
        background-color: white;
        border-radius: 100%;
        border: 1px solid white;
    }
    &__comment {
        display: block;
        text-align: center;
        margin: 0 auto;
        padding: 0 0 10px 0;
        color: $sky;
        font-size: 2rem;
        letter-spacing: 0.3rem;
    }
    &__img--cry {
        width: 270px;
        height: 270px;
        margin: auto;
        background-image: url("/images/svg/pikupiyo_sorry.svg");
        background-repeat: no-repeat;
        background-size: contain;
        //animationの定義
        animation-name: piyobulu;
        animation-duration: 3000ms; //アニメーション開始から終了までの所要時間
        animation-timing-function: linear; //アニメーションのイージング
        animation-delay: 0s; //アニメーションが開始するまでの遅延時間
        animation-iteration-count: infinite; //アニメーションのループ回数
        animation-direction: normal; //アニメーションの再生方向
    }
    &__button {
        display: block;
        box-sizing: border-box;
        width: 140px;
        padding: 10px 10px;
        margin: 50px auto;
        text-align: center;
        box-sizing: border-box;
        font-size: 1.2rem;
        letter-spacing: 0.2rem;
        background-color: white;
        color: $sky;
        opacity: 0.8;
        border-radius: 20px;
        &:before {
            display: inline;
            font-family: "pikufont";
            content: "\e90d";
            // vertical-align: top;
            padding: 0 5px;
        }
        &:hover {
            opacity: 0.4;
        }
    }
}

@keyframes piyobulu {
    0% {
        transform: translateX(0px);
    }
    3% {
        transform: translateX(4px);
    }
    6% {
        transform: translateX(0px);
    }
    9% {
        transform: translateX(-4px);
    }
    12% {
        transform: translateX(0px);
    }
    15% {
        transform: translateX(4px);
    }
    18% {
        transform: translateX(0px);
    }
    21% {
        transform: translateX(-2px);
    }
    24% {
        transform: translateX(0px);
    }
    27% {
        transform: translateX(2px);
    }
    30% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(0px);
    }
}

@media (max-width:960px) {
    .piyobox {
        &__title {
            padding: 30px 0 50px 0;
            font-size: 1.9rem;
            letter-spacing: 0.2rem;
        }
        &__background {
            height: 320px;
        }
        &__circle {
            padding-top: 35px;
            width: 320px;
            height: 320px;
        }
        &__comment {
            padding: 0 0 10px 0;
            font-size: 1.7rem;
            letter-spacing: 0.3rem;
        }
        &__img--cry {
            width: 230px;
            height: 230px;
        }
        &__button {
            // width: 140px;
            // padding: 10px 10px;
            margin: 40px auto;
            font-size: 1.2rem;
            letter-spacing: 0.2rem;
            border-radius: 20px;
            // &:before {
            //     display: inline;
            //     font-family: "pikufont";
            //     content: "\e90d";
            //     padding: 0 5px;
            // }
        }
    }
}

@media (max-width:480px) {
    .piyobox {
        &__title {
            padding: 30px 0 50px 0;
            font-size: 1.6rem;
        }
        &__background {
            height: 280px;
        }
        &__circle {
            padding-top: 30px;
            width: 280px;
            height: 280px;
        }
        &__comment {
            padding: 0 0 10px 0;
            font-size: 1.4rem;
            letter-spacing: 0.3rem;
        }
        &__img--cry {
            width: 200px;
            height: 200px;
        }
    }
}


/***********************************************************
                           FOOTER
***********************************************************/

.footer--construct {
    color: white;
    background-color: $sky;
}