@import "variable";
@import "mixin";

/***********************************************************
                           HEADER
***********************************************************/

.construction {
    background-color: $sky;
}


/***********************************************************
                           HEADER
***********************************************************/

.header--construct {
    height: 10vh;
    width: 100%;
    background-color: $sky;
    nav {
        z-index: 100;
        box-sizing: border-box;
        width: 100%;
        position: fixed;
        top: 0;
        padding: 8px 0;
        background-color: $sky;
        opacity: 0.85;
        vertical-align: center;
        color: white;
        font-size: 1.0rem;
        ol {
            text-align: center;
            li {
                display: inline-block;
                a {
                    display: inline-block;
                    padding: 6px 30px;
                    color: white;
                    opacity: 1;
                    &:hover {
                        color: white;
                        background-color: darken($forest, 60%);
                        border-radius: 15px;
                    }
                }
            }
        }
        .navmenu {
            display: none;
        }
    }
    //960px以下の場合の指定（タブレット）
    @media (max-width: 960px) {
        nav {
            padding: 0;
            height: auto;
            .navmenu {
                display: block;
                font-size: 2.5rem;
                float: right;
                padding: 2px 5px 0 0;
                cursor: pointer;
            }
            .navmenu_list {
                display: none;
            }
            //隠しメニュー
            &.nav-open {
                opacity: 0.9;
                background-color: darken($forest, 60%);
                .navmenu_list {
                    display: block;
                    text-align: left;
                    padding: 15px 0;
                    li {
                        display: block;
                        line-height: 2.5rem;
                        text-align: center;
                        margin: 0 10vw;
                        border-bottom: 2px solid;
                        border-color: rgba(#fff, 0.3);
                        &:last-child {
                            border-bottom: none;
                        }
                        &:hover {
                            color: $space-green;
                            border-radius: 0px;
                            background-color: darken($forest, 50%);
                        }
                        a {
                            display: block;
                            &:hover {
                                background-color: darken($forest, 50%);
                                ;
                            }
                        }
                    }
                }
            }
        }
        h1 {
            font-size: 2.5rem;
        }
    }
    //600px以下の場合の指定（モバイル）
    @media (max-width: 480px) {
        h1 {
            font-size: 2.0rem;
        }
    }
}


/***********************************************************
                           MAIN
***********************************************************/

.main--construct {
    height: 90vh;
    width: 100%;
    background-color: $sky;
    vertical-align: middle;
}

.piyobox__title {
    text-align: center;
    color: lighten($sky, 20%);
    padding: 5vh 0 60px;
    font-size: 2rem;
    letter-spacing: 0.2rem;
}

.piyobox__button {
    display: block;
    box-sizing: border-box;
    width: 150px;
    padding: 10px 15px;
    margin: 50px auto;
    text-align: center;
    box-sizing: border-box;
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
    background-color: white;
    color: $sky;
    opacity: 0.8;
    border-radius: 20px;
    &:before {
        font-family: "pikufont";
        content: "\e90d";
        font-size: 1.5rem;
        vertical-align: top;
        padding: 0 5px;
    }
    &:hover {
        opacity: 0.4;
    }
}

.piyobox {
    box-sizing: border-box;
    padding-top: 40px;
    margin: auto;
    width: 380px;
    height: 380px;
    max-width: 500px;
    max-height: 500px;
    background-color: white;
    border-radius: 100%;
    border: 1px solid white;
    .piyobox__text {
        display: block;
        height: 50px;
        text-align: center;
        margin: 0 auto;
        color: $sky;
        font-size: 1.9rem;
        letter-spacing: 0.3rem;
    }
    .piyobox__img--cry {
        width: 250px;
        height: 250px;
        margin: auto;
        background-image: url("/images/svg/pikupiyo_sorry.svg");
        background-repeat: no-repeat;
        background-size: contain;
    }
}


/***********************************************************
                           FOOTER
***********************************************************/

.footer--construct {
    width: 100%;
    height: 0vh;
    background-color: $sky;
}