// 変数作成用パーシャルファイル

/***************************************************************
                  pikuchi no mori Color Settings
****************************************************************/

$sky :#8aafe8;
$forest:#b9ed66;
$piyo :#ffdd58;
$sun:#ff7e50;
$text: #fff;