@charset "UTF-8";
/***************************************************************
                  pikuchi no mori Color Settings
****************************************************************/
/***************************************************************
                          Color Settings
****************************************************************/
/*宇宙背景ver. カラーリング*/
/*地球背景ver. カラーリング*/
/***************************************************************
                          Size Settings
****************************************************************/
/***********************************************************
                         MIXIN
***********************************************************/
/***********************************************************
                       SECTION BASE AREA
***********************************************************/
/***********************************************************
                       SECTION TITLE　
***********************************************************/
/***********************************************************
                       SENTENCE STYLE　
***********************************************************/
/* xlarge */
/* large */
/* basic */
/* small */
/***********************************************************
                           HEADER
***********************************************************/
.header__top {
  height: 30vh;
  width: 100%;
  background-color: #8aafe8;
  background-image: -webkit-linear-gradient(87deg, #fff 30%, #8aafe8 30%, #8aafe8);
  background-image: -o-linear-gradient(87deg, #fff 30%, #8aafe8 30%, #8aafe8);
  background-image: linear-gradient(3deg, #fff 30%, #8aafe8 30%, #8aafe8); }
  .header__top nav {
    z-index: 100;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 8px 0;
    background-color: #8aafe8;
    opacity: 0.85;
    vertical-align: center;
    color: white;
    font-size: 1.0rem; }
    .header__top nav ol {
      text-align: center; }
      .header__top nav ol li {
        display: inline-block; }
        .header__top nav ol li a {
          display: inline-block;
          padding: 6px 30px;
          color: white; }
          .header__top nav ol li a:hover {
            color: white;
            background-color: #131e03;
            border-radius: 15px; }
    .header__top nav .navmenu {
      display: none; }
  @media (max-width: 960px) {
    .header__top nav {
      padding: 0;
      height: auto; }
      .header__top nav .navmenu {
        display: block;
        font-size: 2.5rem;
        float: right;
        padding: 2px 5px 0 0;
        cursor: pointer; }
      .header__top nav .navmenu_list {
        display: none; }
      .header__top nav.nav-open {
        opacity: 0.9;
        background-color: #131e03; }
        .header__top nav.nav-open .navmenu_list {
          display: block;
          text-align: left;
          padding: 15px 0; }
          .header__top nav.nav-open .navmenu_list li {
            display: block;
            line-height: 2.5rem;
            text-align: center;
            margin: 0 10vw;
            border-bottom: 2px solid;
            border-color: rgba(255, 255, 255, 0.3); }
            .header__top nav.nav-open .navmenu_list li:last-child {
              border-bottom: none; }
            .header__top nav.nav-open .navmenu_list li:hover {
              color: #CFED47;
              border-radius: 0px;
              background-color: #324b09; }
            .header__top nav.nav-open .navmenu_list li a {
              display: block; }
              .header__top nav.nav-open .navmenu_list li a:hover {
                background-color: #324b09; }
    .header__top h1 {
      font-size: 2.5rem; } }
  @media (max-width: 480px) {
    .header__top h1 {
      font-size: 2.0rem; } }
