@charset "UTF-8";
/***************************************************************
                  pikuchi no mori Color Settings
****************************************************************/
/***************************************************************
                          Color Settings
****************************************************************/
/*宇宙背景ver. カラーリング*/
/*地球背景ver. カラーリング*/
/***************************************************************
                          Size Settings
****************************************************************/
/***********************************************************
                         MIXIN
***********************************************************/
/***********************************************************
                       SECTION BASE AREA
***********************************************************/
/***********************************************************
                       SECTION TITLE　
***********************************************************/
/***********************************************************
                       SENTENCE STYLE　
***********************************************************/
/* xlarge */
/* large */
/* basic */
/* small */
/***********************************************************
                           BODY
***********************************************************/
.toppage {
  background-color: #b9ed66; }

/***********************************************************
                           HEADER
***********************************************************/
.header--top {
  height: 10vh;
  width: 100%;
  background-color: #8aafe8; }
  .header--top nav {
    z-index: 100;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 8px 0;
    background-color: #8aafe8;
    opacity: 0.85;
    vertical-align: center;
    color: white;
    font-size: 1.0rem; }
    .header--top nav ol {
      text-align: center; }
      .header--top nav ol li {
        display: inline-block; }
        .header--top nav ol li a {
          display: inline-block;
          padding: 6px 30px;
          color: white; }
          .header--top nav ol li a:hover {
            color: white;
            background-color: #131e03;
            border-radius: 15px; }
    .header--top nav .navmenu {
      display: none; }
  @media (max-width: 960px) {
    .header--top nav {
      padding: 0;
      height: auto; }
      .header--top nav .navmenu {
        display: block;
        font-size: 2.5rem;
        float: right;
        padding: 2px 5px 0 0;
        cursor: pointer; }
      .header--top nav .navmenu_list {
        display: none; }
      .header--top nav.nav-open {
        opacity: 0.9;
        background-color: #131e03; }
        .header--top nav.nav-open .navmenu_list {
          display: block;
          text-align: left;
          padding: 15px 0; }
          .header--top nav.nav-open .navmenu_list li {
            display: block;
            line-height: 2.5rem;
            text-align: center;
            margin: 0 10vw;
            border-bottom: 2px solid;
            border-color: rgba(255, 255, 255, 0.3); }
            .header--top nav.nav-open .navmenu_list li:last-child {
              border-bottom: none; }
            .header--top nav.nav-open .navmenu_list li:hover {
              color: #CFED47;
              border-radius: 0px;
              background-color: #324b09; }
            .header--top nav.nav-open .navmenu_list li a {
              display: block; }
              .header--top nav.nav-open .navmenu_list li a:hover {
                background-color: #324b09; } }

/***********************************************************
                           MAIN
***********************************************************/
.main--top {
  z-index: 2;
  position: relative;
  height: 60vh;
  background-color: #8aafe8; }
  .main--top .sitetitle {
    z-index: 3;
    position: relative;
    margin: auto;
    width: 30vw;
    height: 100%;
    max-width: 400px;
    min-width: 350px;
    background-position: center;
    background-image: url("/images/svg/pikuchinomori_logo.svg");
    background-repeat: no-repeat;
    background-size: contain; }
  @media (max-width: 700px) {
    .main--top .sitetitle {
      width: 50vw;
      min-width: 300px; } }

.pikusky {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60vh;
  background-image: url("/images/svg/skycloud.svg");
  background-size: cover;
  -webkit-animation-name: pikucloud;
  animation-name: pikucloud;
  -webkit-animation-duration: 300s;
  animation-duration: 300s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  animation-direction: normal; }

@-webkit-keyframes pikucloud {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 2000px 0; } }

@keyframes pikucloud {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 2000px 0; } }

/***********************************************************
                           FOOTER
***********************************************************/
.footer--top {
  width: 100%;
  height: 30vh;
  background-color: #b9ed66;
  /* 上⇒下への白から黄色のグラデーション指定 */
  background-image: -webkit-linear-gradient(87deg, #b9ed66 50%, #8aafe8 50%, #8aafe8);
  background-image: -o-linear-gradient(87deg, #b9ed66 50%, #8aafe8 50%, #8aafe8);
  background-image: linear-gradient(3deg, #b9ed66 50%, #8aafe8 50%, #8aafe8); }
  .footer--top .pikuforest {
    z-index: 4;
    position: relative;
    width: 100%;
    height: 30vh;
    max-width: 1280px;
    margin: auto; }
  .footer--top .piyo {
    z-index: 5;
    position: absolute;
    bottom: 12vh;
    right: 100px;
    width: 11vw;
    min-width: 120px;
    max-width: 140px;
    height: auto;
    content: url("/images/svg/pikupiyo.svg");
    -webkit-animation-name: piyojump;
    animation-name: piyojump;
    -webkit-animation-duration: 2500ms;
    animation-duration: 2500ms;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    animation-direction: normal; }

@-webkit-keyframes piyojump {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  5% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); }
  20% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  25% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  30% {
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px); }
  45% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }

@keyframes piyojump {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  5% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); }
  20% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  25% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  30% {
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px); }
  45% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }
  .footer--top .trees {
    z-index: 1;
    position: absolute;
    bottom: 12vh;
    left: 50px;
    width: 35vw;
    min-width: 350px;
    max-width: 450px;
    height: auto;
    content: url("/images/svg/morinoki.svg"); }
  .footer--top .copyright {
    background-color: #b9ed66;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 10px;
    text-align: center;
    vertical-align: bottom;
    color: white;
    letter-spacing: 0.15rem;
    font-size: 1rem; }
  @media (max-width: 700px) {
    .footer--top .trees {
      bottom: 12vh;
      left: 5vh;
      width: 50vw;
      min-width: 250px;
      content: url("/images/svg/morinoki.svg"); }
    .footer--top .piyo {
      bottom: 12vh;
      right: 10vw;
      width: 18vw;
      min-width: 80px;
      height: auto; } }
  @media (max-width: 480px) {
    .footer--top .copyright {
      font-size: 0.8rem;
      padding: 25px 0; } }
