@charset "UTF-8";
/***************************************************************
                  pikuchi no mori Color Settings
****************************************************************/
/***************************************************************
                          Color Settings
****************************************************************/
/*宇宙背景ver. カラーリング*/
/*地球背景ver. カラーリング*/
/***************************************************************
                          Size Settings
****************************************************************/
/***********************************************************
                         MIXIN
***********************************************************/
/***********************************************************
                       SECTION BASE AREA
***********************************************************/
/***********************************************************
                       SECTION TITLE　
***********************************************************/
/***********************************************************
                       SENTENCE STYLE　
***********************************************************/
/* xlarge */
/* large */
/* basic */
/* small */
/***********************************************************
                           BODY
***********************************************************/
.toppage {
  background-color: #8aafe8; }

/***********************************************************
                           HEADER
***********************************************************/
.header--top {
  height: 20vh;
  width: 100%; }
  .header--top nav {
    z-index: 100;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 8px 0;
    background-color: #8aafe8;
    opacity: 0.85;
    vertical-align: center;
    color: white;
    font-size: 1.0rem; }
    .header--top nav ol {
      text-align: center; }
      .header--top nav ol li {
        display: inline-block; }
        .header--top nav ol li a {
          display: inline-block;
          padding: 6px 30px;
          color: white; }
          .header--top nav ol li a:hover {
            color: white;
            background-color: #251d00;
            border-radius: 15px; }
    .header--top nav .navmenu {
      display: none; }
  @media (max-width: 960px) {
    .header--top nav {
      padding: 0;
      height: auto; }
      .header--top nav .navmenu {
        display: block;
        font-size: 2.5rem;
        float: right;
        padding: 2px 5px 0 0;
        cursor: pointer; }
      .header--top nav .navmenu_list {
        display: none; }
      .header--top nav.nav-open {
        opacity: 0.9;
        background-color: #251d00; }
        .header--top nav.nav-open .navmenu_list {
          display: block;
          text-align: left;
          padding: 15px 0; }
          .header--top nav.nav-open .navmenu_list li {
            display: block;
            line-height: 2.5rem;
            text-align: center;
            margin: 0 10vw;
            border-bottom: 2px solid;
            border-color: rgba(255, 255, 255, 0.3); }
            .header--top nav.nav-open .navmenu_list li:last-child {
              border-bottom: none; }
            .header--top nav.nav-open .navmenu_list li:hover {
              color: #CFED47;
              border-radius: 0px;
              background-color: #584600; }
            .header--top nav.nav-open .navmenu_list li a {
              display: block; }
              .header--top nav.nav-open .navmenu_list li a:hover {
                background-color: #584600; }
    .header--top h1 {
      font-size: 2.5rem; } }
  @media (max-width: 480px) {
    .header--top h1 {
      font-size: 2.0rem; } }

/***********************************************************
                           MAIN
***********************************************************/
.main--top {
  height: 40vh; }
  .main--top .sitetitle {
    width: 100%;
    height: 100%;
    margin-top: 0vh;
    background-position: center;
    background-image: url("/images/svg/pikuchinomori_logo2.svg");
    background-repeat: no-repeat; }

/***********************************************************
                           FOOTER
***********************************************************/
.footer--top {
  width: 100%;
  height: 40vh;
  background-color: #ffdd58;
  /* 上⇒下への白から黄色のグラデーション指定 */
  background-image: -webkit-linear-gradient(85deg, #ffdd58 50%, #8aafe8 50%, #8aafe8);
  background-image: -o-linear-gradient(85deg, #ffdd58 50%, #8aafe8 50%, #8aafe8);
  background-image: linear-gradient(5deg, #ffdd58 50%, #8aafe8 50%, #8aafe8); }
  .footer--top .pikuforest {
    position: relative;
    width: 100%;
    height: 40vh;
    max-width: 1280px;
    margin: auto; }
  .footer--top .piyo {
    position: absolute;
    bottom: 15vh;
    right: 100px;
    width: 11vw;
    min-width: 120px;
    max-width: 140px;
    height: auto;
    content: url("/images/svg/pikupiyo.svg");
    -webkit-animation-name: piyojump;
    animation-name: piyojump;
    -webkit-animation-duration: 2500ms;
    animation-duration: 2500ms;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    animation-direction: normal; }

@-webkit-keyframes piyojump {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  5% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }
  20% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  30% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px); }
  50% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }

@keyframes piyojump {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  5% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }
  20% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  30% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px); }
  50% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }
  .footer--top .trees {
    position: absolute;
    bottom: 18vh;
    left: 50px;
    width: 35vw;
    min-width: 300px;
    max-width: 450px;
    height: auto;
    content: url("/images/svg/morinoki3.svg"); }
  .footer--top .copyright {
    background-color: #ffdd58;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 10px;
    text-align: center;
    vertical-align: bottom;
    color: white;
    letter-spacing: 0.15rem;
    font-size: 1rem; }
  @media (max-width: 960px) {
    .footer--top .snsicons {
      font-size: 2.6rem; } }
  @media (max-width: 480px) {
    .footer--top .snsicons {
      font-size: 2.4rem; }
    .footer--top .copyright {
      font-size: 0.6rem;
      padding: 25px 0; } }
