@charset "UTF-8";
/***************************************************************
                  pikuchi no mori Color Settings
****************************************************************/
/***************************************************************
                          Color Settings
****************************************************************/
/*宇宙背景ver. カラーリング*/
/*地球背景ver. カラーリング*/
/***************************************************************
                          Size Settings
****************************************************************/
/***********************************************************
                         MIXIN
***********************************************************/
/***********************************************************
                       SECTION BASE AREA
***********************************************************/
/***********************************************************
                       SECTION TITLE　
***********************************************************/
/***********************************************************
                       SENTENCE STYLE　
***********************************************************/
/* xlarge */
/* large */
/* basic */
/* small */
/***********************************************************
                           HEADER
***********************************************************/
.construction {
  background-color: #8aafe8; }

/***********************************************************
                           HEADER
***********************************************************/
.header--construct {
  height: 10vh;
  width: 100%;
  background-color: #8aafe8; }
  .header--construct nav {
    z-index: 100;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 8px 0;
    background-color: #8aafe8;
    opacity: 0.85;
    vertical-align: center;
    color: white;
    font-size: 1.0rem; }
    .header--construct nav ol {
      text-align: center; }
      .header--construct nav ol li {
        display: inline-block; }
        .header--construct nav ol li a {
          display: inline-block;
          padding: 6px 30px;
          color: white;
          opacity: 1; }
          .header--construct nav ol li a:hover {
            color: white;
            background-color: #251d00;
            border-radius: 15px; }
    .header--construct nav .navmenu {
      display: none; }
  @media (max-width: 960px) {
    .header--construct nav {
      padding: 0;
      height: auto; }
      .header--construct nav .navmenu {
        display: block;
        font-size: 2.5rem;
        float: right;
        padding: 2px 5px 0 0;
        cursor: pointer; }
      .header--construct nav .navmenu_list {
        display: none; }
      .header--construct nav.nav-open {
        opacity: 0.9;
        background-color: #251d00; }
        .header--construct nav.nav-open .navmenu_list {
          display: block;
          text-align: left;
          padding: 15px 0; }
          .header--construct nav.nav-open .navmenu_list li {
            display: block;
            line-height: 2.5rem;
            text-align: center;
            margin: 0 10vw;
            border-bottom: 2px solid;
            border-color: rgba(255, 255, 255, 0.3); }
            .header--construct nav.nav-open .navmenu_list li:last-child {
              border-bottom: none; }
            .header--construct nav.nav-open .navmenu_list li:hover {
              color: #CFED47;
              border-radius: 0px;
              background-color: #584600; }
            .header--construct nav.nav-open .navmenu_list li a {
              display: block; }
              .header--construct nav.nav-open .navmenu_list li a:hover {
                background-color: #584600; }
    .header--construct h1 {
      font-size: 2.5rem; } }
  @media (max-width: 480px) {
    .header--construct h1 {
      font-size: 2.0rem; } }

/***********************************************************
                           MAIN
***********************************************************/
.main--construct {
  height: 90vh;
  width: 100%;
  background-image: url("/images/svg/pikuwave.svg"); }

.piyobox__title {
  text-align: center;
  color: #dfe9f9;
  padding: 5vh 0 60px;
  font-size: 2rem;
  letter-spacing: 0.2rem; }

.piyobox__button {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 150px;
  padding: 10px 15px;
  margin: 50px auto;
  text-align: center;
  box-sizing: border-box;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
  background-color: white;
  color: #8aafe8;
  opacity: 0.8;
  border-radius: 20px; }
  .piyobox__button:before {
    font-family: "pikufont";
    content: "\e90d";
    font-size: 1.5rem;
    vertical-align: top;
    padding: 0 5px; }
  .piyobox__button:hover {
    opacity: 0.4; }

.piyobox {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 40px;
  margin: auto;
  width: 380px;
  height: 380px;
  max-width: 500px;
  max-height: 500px;
  background-color: white;
  border-radius: 100%;
  border: 1px solid white; }
  .piyobox .piyobox__text {
    display: block;
    height: 50px;
    text-align: center;
    margin: 0 auto;
    color: #8aafe8;
    font-size: 1.9rem;
    letter-spacing: 0.3rem; }
  .piyobox .piyobox__img--cry {
    width: 250px;
    height: 250px;
    margin: auto;
    background-image: url("/images/svg/pikupiyo_sorry.svg");
    background-repeat: no-repeat;
    background-size: contain; }

/***********************************************************
                           FOOTER
***********************************************************/
.footer--construct {
  width: 100%;
  height: 0vh;
  background-color: #8aafe8; }
